body{
	background:url(img/body-bg.png)no-repeat;
}
/*-----------------------navigations---------------------*/
.navbar{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: azure;
    z-index: 999;
    transition: background 1s ease;
 }
.navbar a{
	text-transform: uppercase;
	font-weight: bold;
	padding: 1.5em;
	font-size: 12px;
	padding-left: 9em;
	margin: 10px;
}
.navbar img{
	padding-right: 15em;
}
/*-----------------sections home------------*/
.img-fluid{
width: 400px;

}
#banner{
	margin-top: 5em;
	background:url(img/banner/home-banner.png) no-repeat;
	background-position: 0% 30%;
}
#banner h1,h2,h3{
	padding: 10px;
}
#banner h2{
	text-transform: uppercase;
	font-weight: bold;
}
#banner h3{
	font-weight: bold;
	font-size:15px;
}
#banner h1{
	font-size: 22px;
	font-weight: bold;
}
hr{
	width: 150px;
	border:2px solid black;
	color: black;
}
.button{
	border-radius: 4px;
	margin: 5px;
}
.button.primary-button{
	color: white;
	background:#8a2be2;
}
.button.secondary-button{
	color: white;
	background:#8a2be2;
}
.button.primary-button:hover{
	border:3px solid #9400d3;
	background:#9400d3;
}
.button.secondary-button:hover{
	border:3px solid #4b0082;
	background:#4b0082;
}
/*----------------------sections about us_____________*/
#about{
	margin-top: 6em;
}
#about h1{
	text-transform: uppercase;
	margin: 5px;
	padding: 15px;
}
#about p{
	padding-top: 5px;
}
#about img{
	width: 25em;
}
#about button{
	border-radius: 10px;
	margin-top:10px;
}
/*--------------------------------brands-------------------*/
.brand-area{
	margin-top: 9em;
	padding: 3rem;
	margin-bottom: 4rem;
}
.brand-area img{
	padding: 3px;
	width: 50%;
	margin: 3px;
	margin-top: 4rem;
}
.d-flex.flex-row.flex-wrap.call-area{
	padding-left: 12rem;
}
.d-flex.flex-row.years-area{
	padding: 2rem 0;
	background:url(img/client-info-bg.png) no-repeat 45px 20px;
	width: 40rem;
	height: 18rem;
	padding-left: 8rem;
	position: relative;
}
.brand-area i{
	padding: 7px;
}
.call-now a{
	text-decoration: none;
}
.brand-area h1{
	margin-top: 10px;
	color: #8a2be2;
	font-size:70px;
	
}
.experience-area{
	background:#e029290a;
}
/*----------------sections services----------------*/
#services-area{
padding-top: 7rem;
}
#services-area p{
	padding-top: 5px;
	padding: 10px;
}
.services{
	background:rgba(248,252,253,0.973);
	padding-top:15px;
	transition: box-shadow.7s ease;
}
#services-area img{
	padding-top: 10px;
}
.services:hover{
	background:azure;
}
/*------------------section projet---------------------*/
.project-area{
    padding: 7rem 0;
}
.project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}
.project-area .button-group button + button{
    padding-left: 3rem;
}
.project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}
.project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;

}
.button-group{
	padding-bottom: 2rem;
	font-weight: bold;
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: black;
    box-shadow: var(--box-shadow);
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}
/*----------------section client---------------*/

#carouselExampleCaptions{
	width: 25rem;
	
}
.container.carousel.py-lg-5{
	margin-left: 10rem;
	padding-left: 3px;
}
/*-----------------sections contacts----------------*/
.subscribe-us-area .subscribe{
    background: url(img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}
/*------------footer------------*/
footer.footer-area{
    padding: 5rem 0;
    background: url(img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}
